body, html, .ox {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* 清除浮动 */
.clear {
  clear: both;
}

.ozzx-animation {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ox-home ol,
.ox-home ul {
  list-style: none;
}

.ox-home table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ox-home caption,
.ox-home th,
.ox-home td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

.ox-home q,
.ox-home blockquote {
  quotes: none;
}

.ox-home q:before,
.ox-home q:after,
.ox-home blockquote:before,
.ox-home blockquote:after {
  content: "";
  content: none;
}

.ox-home a img {
  border: none;
}

.ox-home article,
.ox-home aside,
.ox-home details,
.ox-home figcaption,
.ox-home figure,
.ox-home footer,
.ox-home header,
.ox-home hgroup,
.ox-home main,
.ox-home menu,
.ox-home nav,
.ox-home section,
.ox-home summary {
  display: block;
}

.ox-home body,
.ox-home html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.ox-home .clear {
  clear: both;
}

.ox-home .control {
  color: #8e44ad;
  padding: 10px;
}

.ox-home .control .title {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.ox-home .modle-control {
  display: none;
}

.ox-home .currency-box {
  display: block;
}

.ox-home .tips {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  padding: 0 10px;
  line-height: 30px;
  color: #999;
  text-align: right;
  font-size: 14px;
}

.ox-home .progress-box {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
}

.ox-home .progress-box img {
  width: 30%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  top: 0;
  margin: auto;
}

.ox-home .progress-box .progress-text {
  color: royalblue;
  text-align: center;
  line-height: 30px;
  position: absolute;
  width: 100%;
  top: 30%;
  bottom: 0;
  margin: auto;
  height: 30px;
}

.ox-home .music-box input {
  width: calc(100% - 25px);
  margin: 5px 0;
  padding: 0 10px;
  height: 25px;
  border: none;
  background-color: #ccc;
}

.ox-home .card {
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 0;
}

.ox-home .swiper-box {
  display: none;
}.ox-show .iframe {
  display: none;
}

.ox-show .show-box,
.ox-show iframe {
  width: 100%;
  height: 100%;
}

.ox-show .down {
  position: fixed;
  right: 10px;
  cursor: pointer;
  bottom: 10px;
  width: 45px;
  height: 45px;
}